/*
#2469A0
#10BCE3
#3DD6AF
#8BE27E 
*/

/* simple - enter transition 300ms, exit 150ms */
.transition {
  position: absolute;
  opacity: 1;
  background-color: blueviolet;
  width: 100%;
  height: 100vh;
}
